img {
    width: 100%;
}

.unit-link {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-inner {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    gap: 120px;
}

h1 {
    width: 240px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header ul {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-menus > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.header-lang-container {
    display: flex;
    gap: 12px;
    align-self: center;
}

.header-lang-container > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

section {
    padding: 48px 0;
}

#intro-video {
    /* 임시 */
    height: 80vh;
    background-color: black;
    position: relative;
    padding: 0;
}

#intro-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    line-height: 140%;
}

.section-container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.news-container {
    display: flex;
    gap: 16px;
}

.news-contents {
    width: 100%;
}

.news-image-wrapper {
    position: relative;
    
}

.news-image-wrapper::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;

}

.news-image-wrapper > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}

.news-heading {
    font-weight: bold;
    color: #222;
    line-height: 150%;
    margin-bottom: 16px;
}

.news-date {
    margin-bottom: 32px;
    font-size: 13px;
    font-weight: bold;
    color: #888;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: flex-end;
    /* more 아래쪽으로 붙게 만들기 */
}

.section-title-heading {
    font-size: 36px;
    font-weight: bold;
    color: #222;
}

.section-title-more {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-title-more::after {
    /* after는 inline 속성임 안에 넣은 만큼 커지고 빼는 만큼 작아진다...!  따라서 이미지 등의 보이는 컨텐츠는 display: block을 사용해야한다.*/
    content: '';
    background-image: url(../img/ico_arrowbtn.svg);
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    /* 반복하지 않겠다는 기능을 부여하는 요소 */
    background-position: center;
    /* 바탕에 있는 컨텐츠를 가운데 정렬하겠다는 요소 */
}